<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <title>{% block title %}Accueil{% endblock %}</title>

    {% load static %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
</head>
<body>
<header>La gazette</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/">Accueil</a></li>
       </ul>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
</body>
</html>