<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Accueil{% endblock %}</title>

    {% load static %}  <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">
    <link href="{% static 'img/favicon.png' %}" rel="stylesheet" />
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="stylesheet" />
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/animations/animations.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/hover-pack/hover-pack.css' %}" rel="stylesheet" />
    <link href="{% static 'css/colors/color-74c9be.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <nav>
       {% block nav %}
       <!-- <ul>
            <li><a href="/">Accueil</a></li>
       </ul> -->
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
</body>
</html>