#ignore cached files
__pycache__/

#ignore settings
# blog_promo/blog_promo/settings.py

#ignore venv
venv/

#ignore VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json